.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

a {
  color: #d3e79a;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App .signature {
  margin: 10px 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(236, 206, 206);
  font-size: large;
  font-weight: lighter;
}

@import url("https://fonts.googleapis.com/css?family=Teko:700");

.teko-font-family {
  font-family: "Teko", sans-serif;
}
