.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(128, 25, 25);
}

.example {
  color: rgb(128, 25, 25);
  font-style: italic;
  margin-top: 10px;
}

.definition {
  color: rgb(128, 25, 25);
}
